* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {

    /* Color styles */
--primarydark: #000000;
--primarylight: #FFFFFF;
--bg-lightblue: #B4D0E7;
--bt-blue: #0061FF;
--logo-lightgreen: #A2D39B;
--logo-brown: #61082B;
--logo-ice: #0093CE;
--logo-red: #FF1C1C;
--logo-darkblue: #0D2481;
--logo-yellow: #FFD830;
--logo-grey: #F5F5F5;

}

header {
    background-color: var(--bg-lightblue);
}

.debug {
    border: 2px solid red;
}

/* CONTAINERS */

.container {
    max-width: 1200px;
    margin:0 auto;
    padding:10px;
}

.small-container {
    max-width: 1000px;
    margin:0 auto;
}

/* HEADER */

header nav {
    position:fixed;
    z-index: 1000;
    top:0;
    left:0;
    width: 100%;
    padding-bottom:50px;
    background-color: var(--primarylight);
}

.hero {
    margin-top:70px;
    background-color: var(--bg-lightblue);
}
