* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition:0.300s;
}

:root {
    /* Color styles */
    --primarydark: #000000;
    --primarylight: #FFFFFF;
    --bg-lightblue: #B4D0E7;
    --bt-blue: #0061FF;
    --logo-lightgreen: #A2D39B;
    --logo-brown: #61082B;
    --logo-ice: #0093CE;
    --logo-red: #FF1C1C;
    --logo-darkred: #d5001f;
    --logo-darkblue: #0D2481;
    --logo-yellow: #FFD830;
    --logo-grey: #f5f5f5;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

main {
    margin-top: 180px;
}

footer {
    background-color: var(--primarydark);
    padding-top: 100px;
    color: var(--primarylight);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header a {
    color: var(--primarydark)
}

img {
    width: 100%;
}

/* RADIO BUTTONS */
.radiocontainer {
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 0.9rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* RESET STYLE */
.radiocontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* CHECKMARK STYLE */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid grey;
    border-radius: 50%;
}

/* SHOW BACKGROUND CHECK WHEN CHECKED */
.radiocontainer input:checked~.checkmark {
    background-color: var(--bt-blue);
    border: none;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* SHOW CHECK WHEN CHECKED */
.radiocontainer input:checked~.checkmark:after {
    display: block;
}

/* CHECKMARK BACKGROUND STYLE*/
.radiocontainer .checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--primarylight)
}

/* CONTAINERS */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.small-container {
    max-width: 1000px;
    margin: 0 auto;
}

/* HEADER */
header nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primarylight);
    height: 75px;
    overflow: visible
}

.hero {
    margin-top: 75px;
    background-color: var(--bg-lightblue);
    padding-top: 80px;
}

.hero h1 {
    font-size: 5rem;
}

.leftnav,
.rightnav {
    gap: 30px;
    margin: 0 10px 0 10px;
}

.loginsection {
    gap: 10px;
    margin-left: 20px;
}

.leftherocontent {
    width: 33%;
}

.rightherocontent {
    position: absolute;
    left: 37%;
    width: 48%;
}

.herocontent {
    padding-top: 70px;
}

.loginhero {
    margin: 40px 0px 40px 0px;
}

#bthero {
    padding: 10px;
}

.arrowdown {
    margin-top: 80px;
    font-size: 3rem;
    margin-left: 10px;
}

/* MAIN CARDS */
.subscriptionlenght {
    gap: 50px;
    padding: 50px 0 50px 0;
}

.contentcard {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.bordercard {
    border: 1px solid #d0d0d3;
    margin-bottom: 50px;
}

.card {
    width: calc(100% / 3 - 40px);
    margin-right: 40px;
}

.card li {
    font-size: 0.9rem;
}

.card .cardtrial {
    padding: 13px;
    margin: 30px 0 15px 0;
    text-align: center;
}

.target {
    text-align: center;
    border-bottom: 1px solid #d0d0d3;
    padding: 5px;
}

.price {
    font-size: 0.9rem;
    font-weight: bold;
}

.period {
    color: #777776;
}

.cflex {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    margin-top: 20px;
}

/* ICONS MAIN CARDS */
.icon::before {
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    padding-right: 10px;
    padding-top: 4px;
}

.icon {
    display: flex;
}

.userico::before {
    content: "\f007";
}

.folderico::before {
    content: "\f07b"
}

.shareico::before {
    content: "\f1e0"
}

.teamico::before {
    content: "\e533"
}

.checkmarkico::before {
    content: "\f00c";
    padding-right: 3px;
    color: #0062ff;
}

.target i {
    padding-right: 10px;
}

.iconflex {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

/* MAIN ENTERPRISE CARD */
.contactenterprise {
    width: 30%;
    margin-top: 10px;
}

.contactenterprise .button {
    padding: 8px 30px 8px 30px;
}

.enteprise {
    padding-top: 20px;
    margin-left: 20px;
}

.infoenterprise span {
    margin: 16px 0 40px 0;
    display: block;
}

.infoenterprise {
    padding-bottom: 20px;
}

/* MAIN PARTNER SECTION  */
.partnerinfo {
    width: 65%;
    margin-left: 30px;
}

.buttonpartner {
    border: 1px solid var(--primarydark);
    padding: 10px;
    width: 150px;
    color: var(--primarydark);

}

/* MAIN OPERATIONS CARDS */
.operationscards {
    gap: 40px;
}

.ocard {
    width: calc(100% / 3 - 40px);
}

/* TEAM PARTNER SECTION */
.findmore {
    color: blue;
    text-decoration: underline;
    margin-top: 60px;
    margin-bottom: 100px;
    display: block;
}

/* PANELS TEAMS SECTION */
.panel {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.containerlogo {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINERS COLOR */
.asu {
    background-color: var(--logo-brown);
}

.desit {
    background-color: var(--logo-lightgreen);
}

.uf {
    background-color: var(--logo-ice);
}

.topps {
    background-color: var(--logo-red);
}

.wbr {
    background-color: var(--logo-darkred);
}

.heartsc {
    background-color: var(--bg-lightblue);
}

.lonelyplanet {
    background-color: var(--logo-darkblue);
}

.cco {
    background-color: var(--logo-yellow);
}

.designtitinfo {
    background-color: var(--logo-grey);
    overflow-y: auto;
}

.logoimg {
    width: 50%;
}

.logoimgblack {
    width: 55%;
}

.delimiterlogo {
    width: 115px;
    height: 1px;
    background-color: #cbcbcf;
}

.titletrial {
    width: 47%;
    color: var(--logo-brown);
}

.buttontrial {
    padding: 13px;
    background-color: var(--primarylight);
    color: var(--primarydark);
}

.buttontrial a {
    padding: 10px 35px 10px 35px;
    background-color: var(--primarylight);
    display: block;
    text-align: center;
    color: var(--primarydark);
}

.faq {
    margin-top: 30px;
}

.faq h5 {
    padding: 35px 0 35px 0;
    font-size: 1.1rem;
    display: inline-block;
}

.faq div {
    border-top: 1px solid #c8c8c8
}

.faqthree {
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 100px;
}

/* ANSWERS DIV ON DISPLAY NONE */
.answers {
    width: 74%;
    margin: 8px 0 12px 0px;
    display: none;
}

/* WHEN HOVER DISPLAY BLOCK */
.faqone:hover .answers#fanswer {
    display: block;
}

.faqtwo:hover .answers#sanswer {
    display: block;
}

.faqthree:hover .answers#tanswer {
    display: block;
}

/* DEFAULT ARROW POINTS TO THE RIGHT */
.faq h5::after {
    font-weight: 900;
    font-size: 1rem;
    font-family: "Font Awesome 6 Free";
    content: "\f105";
    margin-left: 225px;
    display: inline-block;
}

/* WHEN ON HOVER ARROW POINTS DOWN */
.faqone:hover h5::after {
    font-weight: 900;
    font-size: 1rem;
    font-family: "Font Awesome 6 Free";
    content: "\f107";
    margin-left: 225px;
    display: inline-block;
}

.faqtwo:hover h5::after {
    font-weight: 900;
    font-size: 1rem;
    font-family: "Font Awesome 6 Free";
    content: "\f107";
    margin-left: 225px;
    display: inline-block;
}

.faqthree:hover h5::after {
    font-weight: 900;
    font-size: 1rem;
    font-family: "Font Awesome 6 Free";
    content: "\f107";
    margin-left: 225px;
    display: inline-block;
}

.containeranswers {
    display: flex;
}

.footernav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footernav h3 {
    padding-bottom: 30px;
}

.footernav a {
    padding-bottom: 10px;
    display: block;
    color: var(--primarylight);
}

.languageselect {
    color: #979ea0;
    font-size: 1.2rem;
}

/* CHANGE SVG TO var(--primarylight) */
.logoimg img {
    filter: invert(1);
}

/* UTILITY */
.mbottom30 {
    margin-bottom: 30px;
}

.mbottom30 a {
    text-decoration: underline;
}

.bg-lightblue {
    background-color: var(--bg-lightblue);
}

.m100 {
    margin-top: 100px;
}

.dflex {
    display: flex;
    flex-flow: wrap;
}

.spbw {
    justify-content: space-between;
}

.center {
    align-items: center;
}

.nowrap {
    flex-wrap: nowrap;
}

.button {
    background-color: var(--bt-blue);
    padding: 5px 15px 5px 15px;
    color: var(--primarylight);

}

.linedivider {
    width: 50px;
    background-color: #d0d0d3;
    height: 1px;
}

.gap20 {
    gap: 20px;
}

.bigtitle {
    font-size: 2.5rem;
}

.businesstitle {
    font-size: 3rem;
}

.wrapper {
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-flow: column;
    gap: 40px;
}

.wrappertrial {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 150px 0 150px 0;
}

.mtb100 {
    margin: 100px 0 100px 0;
}

option {
    background-color: var(--primarydark);
    border: none;
    color: #979ea0;
    appearance: none;
}

select {
    appearance: none;
    background-color: var(--primarydark);
    color: #979ea0;
}

.fa-earth-americas {
    margin-right: 7px;
}

/* HOVER SELECT ON HEADER NAVBAR */
.leftnav a:not(.internav),
.rightnav a:not(#begin):not(.internav) {
    padding: 26px 0 26px 0;
    border-bottom: 1px solid var(--primarylight);
}

.leftnav a:hover:not(.internav),
.rightnav a:hover:not(#begin):not(.internav) {
    border-bottom: 1px solid var(--primarydark);
}

.footernav a:hover {
    text-decoration: underline;
}

.button:hover {
    background-color: #3984ff;
}

.buttontrial:hover,
.buttonpartner:hover {
    border-color: var(--primarylight);
    background-color: var(--logo-ice);
    color: var(--primarylight);
}

/* BORDER OF THE PANELS ON HOVER  */
/*  .asu:hover {
    border:10px solid #bf9caa;
}
.desit:hover {
    border:10px solid #d9edd7;
}
.uf:hover {
    border:10px solid #99d3eb;
}
.topps:hover {
    border:10px solid #ffa4a4;
}
.wbr:hover {
    border:10px solid #f2b2bb;
}
.heartsc:hover {
    border:10px solid #e8f0f7;
}
.lonelyplanet:hover {
    border:10px solid #b6bdd9;
}
.cco:hover {
    border:10px solid #fff3c0;
} */
/* NEW IDEA (SHADOW WITH GREY TRANSPARENCY), THANKS TO: GIUSEPPE INDOMENICO */
:is(.asu, .desit, .uf, .topps, .wbr, .wbr, .heartsc, .lonelyplanet, .cco):hover {
    box-shadow: inset 0 0 0 15px #ffffff74;
}

/* DROPDOWN ON NAV */
.help,
.functions,
.plansprice,
.whydrop {
    position: absolute;
    text-align: center;
    background-color: #f2eee8;
    display: none;
}

.help {
    top: 75px;
    right: 357px;
}

.functions {
    top: 75px;
    left: 303px;
}

.plansprice {
    top: 75px;
    left: 401px;
}

.whydrop {
    top: 75px;
    left: 141px;
}

#helpnav:hover+.help,
#functionsnav:hover+.functions,
#plansnav:hover+.plansprice,
#whynav:hover+.whydrop {
    display: block;
}


.help:hover,
.plansprice:hover,
.whydrop:hover,
.functions:hover {
    display: block;
}

.help li,
.functions li,
.whydrop li,
.plansprice li {
    padding: 5px 40px 5px 40px;
}

.help a,
.functions a,
.whydrop a,
.plansprice a {
    color: rgba(24, 20, 20, 0.795);
    font-size: 0.8rem;
    text-decoration: none;
}

.help li:hover,
.functions li:hover,
.whydrop li:hover,
.plansprice li:hover {
    background-color: #e7e0d7;
    text-decoration: none;
}

/* WHEN HIDDEN DROPDOWN DOESN'T SHOW */
@media (max-width:1016px) {
    header nav {
        overflow: hidden;
    }
}