* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {

    /* Color styles */
--primarydark: #000000;
--primarylight: #FFFFFF;
--bg-lightblue: #B4D0E7;
--bt-blue: #0061FF;
--logo-lightgreen: #A2D39B;
--logo-brown: #61082B;
--logo-ice: #0093CE;
--logo-red: #FF1C1C;
--logo-darkblue: #0D2481;
--logo-yellow: #FFD830;
--logo-grey: #F5F5F5;

}

body {
    font-family: 'Open Sans', sans-serif;
}

footer {
    background-color: var(--primarydark);
    padding-top:100px;
    color:white;
}
a {
    text-decoration: none;
}
header a {
    color:var(--primarydark)
}
img {
    width: 100%;
}
.deug {
    border: 2px solid red;
}

/* RADIO BUTTONS */
.radiocontainer {
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 0.9rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
/* RESET STYLE */
  .radiocontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
/* CHECKMARK STYLE */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid grey;
    border-radius: 50%;
  }
/* SHOW BACKGROUND CHECK WHEN CHECKED */
.radiocontainer input:checked ~ .checkmark {
    background-color: var(--bt-blue);
    border:none;
  }
/* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
/* SHOW CHECK WHEN CHECKED */
.radiocontainer input:checked ~ .checkmark:after {
    display: block;
  }
/* CHECKMARK BACKGROUND STYLE*/
  .radiocontainer .checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--primarylight)
}

/* CONTAINERS */

.container {
    max-width: 1200px;
    margin:0 auto;
    padding:10px;
}

.small-container {
    max-width: 1000px;
    margin:0 auto;

}

/* HEADER */

header nav {
    position:fixed;
    z-index: 1000;
    top:0;
    left:0;
    width: 100%;
    background-color: var(--primarylight);
    height:75px;
    padding:10px;

}

.hero {
    margin-top:75px;
    background-color: var(--bg-lightblue);
    padding-top:80px;
}

.hero h1 {
    font-size:5rem;
}

.leftnav, .rightnav {
    gap:30px;
    padding:10px;
}

.loginsection {
    gap:10px;
    margin-left:20px;
}

.leftherocontent {
    width:60%;
}

.herocontent {
    padding-top:70px;
}

.loginhero {
    margin:40px 0px 40px 0px;
}

#bthero {
    padding:10px;
}

.arrowdown {
    margin-top:80px;
    font-size:3rem;
    margin-left:10px;
}

/* MAIN CARDS */
.subscriptionlenght {
    gap:50px;
    padding:50px 0 50px 0;
}

.contentcard {
    width: 80%;
    margin:0 auto;
}

.bordercard {
    border:1px solid #d0d0d3;
    margin-bottom:50px;

}

.card {
    width: calc(100% / 3 - 40px);
    margin-right:40px;
}

.card .cardtrial {
    padding:13px;
    margin:30px 0 15px 0;
    text-align: center;
}

.target {
    text-align: center;
    border-bottom:1px solid #d0d0d3;
    padding:5px;
}

.cflex {
    display:flex;
    flex-flow:column nowrap;
    gap:10px;
    margin-top:20px;
}

/* MAIN ENTERPRISE CARD */
.contactenterprise {
    width:30%;
    margin-top:10px;
}

.contactenterprise .button {
    padding:8px 30px 8px 30px;
}

.enteprise {
    padding-top: 20px;
    margin-left:20px;
}

.infoenterprise span {
    margin:16px 0 40px 0;
    display:block;
}

.infoenterprise {
    padding-bottom:20px;
}
/* MAIN PARTNER SECTION  */
.partnerinfo {
    width: 65%;
    margin-left:30px;
}

.buttonpartner {
    border:1px solid black;
    padding:10px;
    width: 150px;
    color:black;
}

/* MAIN OPERATIONS CARDS */
.operationscards{
    gap:40px;
}
.ocard {
    width: calc(100% / 3 - 40px);
}
/* UTILITY */

.mbottom30 {
    margin-bottom:30px;
}

.bg-lightblue {
    background-color: var(--bg-lightblue);
}

.m100 {
    margin-top: 100px;
}

.dflex {
    display:flex;
    flex-flow:wrap;

}

.spbw {
    justify-content: space-between;
}

.center {
    align-items:center;
}

.nowrap {
    flex-wrap: nowrap;
}


.button {
    background-color: var(--bt-blue);
    padding:5px 15px 5px 15px;
    color:var(--primarylight);
}

.linedivider {
    width: 50px;
    background-color: #d0d0d3;
    height: 1px;
}

.pb200 {
    padding-bottom:200px;
}

.gap20 {
    gap:20px;
}

.bigtitle {
    font-size:2.5rem;
}